{% extends 'accounts/base.html' %}

{% block content %}
    <div class="container">
        <section class="row min-vh-100 d-block pt-3 text-center d-sm-flex pt-sm-0 justify-content-sm-center align-items-sm-center text-sm-start">
            <div class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card rounded-3">
                    <div class="card-body px-xl-4">
                        <h4 class="text-grey font-public-sans fs-5 text-center">Recuperação de Senha Enviada</h4>
                        <p class="text-muted font-public-sans m-0 text__format">
                            Um e-mail foi enviado com instruções para redefinir a senha,
                            se fornecido com o e-mail correto, a mensagem chegará em breve, se você não tiver
                            não recebeu nenhuma mensagem, certifique-se de fornecer o endereço de e-mail em que você está
                            registrado. Verifique sua pasta de spam.
                        </p>
                        <p class="text-center">
                            <span class="text-muted font-public-sans">Voltar p/</span>
                            <a href="{% url 'login' %}" class="text-decoration-none text__custom__primary hover">
                                <span>login</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block css %}
    <style>
        .text__format{
            font-size: 0.9375rem; 
            text-align: justify;
        }
    </style>
{% endblock %}