{% extends 'users/base.html' %}

{% load bootstrap5 %}

{% block content %}
    <div class="container">
        <section class="row min-vh-100 d-block pt-3 text-center d-sm-flex pt-sm-0 justify-content-sm-center align-items-sm-center text-sm-start">
            <div class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card rounded-3">
                    <div class="card-body px-xl-4">
                        <h4 class="text-grey font-public-sans fs-5 text-center">Confirmação de Recuperação de Senha</h4>
                        <p class="text-muted font-public-sans text__format">Para que possamos continuar, por favor insira sua nova senha duas vezes para que possamos validá-la</p>
                        <form method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-check form-switch text-start">
                                <input class="form-check-input" type="checkbox" id="check_reset_password_confirm">
                                <label class="form-check-label text-muted" for="check_reset_password_confirm">Mostrar Senha</label>
                            </div>
                            <button id="id_btn_reset_password_confirm" class="btn btn__custom__primary hover d-grid w-100 rounded-3 mt-2 mb-2" type="submit">Resetar</button>
                        </form>
                        <p class="text-center">
                            <span class="text-muted font-public-sans">Voltar p/</span>
                            <a href="{% url 'login' %}" class="text-decoration-none text__custom__primary hover">
                                <span>login</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block css %} 
    <style>
        ul li{
            color: #6c757d !important;
        }
        .text__format{
            font-size: 0.9375rem; 
            text-align: justify;
        }
    </style>
        
{% endblock %}

{% block script %}
    <!-- BEGIN: INICIALIZAÇÂO -->
        <script>
            $(document).ready(function(){
                $(".form-control").attr("required", false);
                $("#id_btn_reset_password_confirm").attr("disabled", true);
            });
        </script>
    <!-- BEGIN: INICIALIZAÇÂO -->

    <!-- BEGIN: VALIDAÇÃO DE CONFIRMAÇÃO DE SENHA -->
        <script>
            function clear_camps(){
                $("#id_btn_reset_password_confirm").attr("disabled", true);
                $('#id_new_password1').val('');
                $('#id_new_password2').val('');
                $('#id_new_password1').focus();
            }
            $("#id_new_password2").on('change', function () {
                let password = $("#id_new_password1").val();
                let confirm_password = $("#id_new_password2").val();
                let password_size = password.length;

                if (password != "" && confirm_password != "" && password === confirm_password){
                    if(password_size < 4){
                        clear_camps();
                        generate_toast('error', 'Falha no registro!', 'Quantidade mínima de caracteres: 4');
                    }
                    else if(password_size > 16){
                        clear_camps();
                        generate_toast('error', 'Falha no registro!', 'Quantidade máxima de caracteres: 16');
                    }
                    else{
                        $("#id_btn_reset_password_confirm").attr("disabled", false);
                    }
                }
                else{
                    clear_camps();
                    generate_toast('error', 'Falha no registro!', 'Os campos senha e confirmação de senha não se identificam!');
                }
            });
        </script>
    <!-- END: VALIDAÇÃO DE CONFIRMAÇÃO DE SENHA -->

    <!-- BEGIN: MOSTRAR/OCULTAR SENHA -->
        <script>
            $('#check_reset_password_confirm').click(function () {
                if($(this).is(':checked')){
                    $("#id_new_password1").attr("type", "text");
                    $("#id_new_password2").attr("type", "text");
                } 
                else {
                    $("#id_new_password1").attr("type", "password");
                    $("#id_new_password2").attr("type", "password");
                }
            })
        </script>
    <!-- END: VALIDAÇÃO DE USUÁRIO -->
{% endblock %}