{% extends 'accounts/base.html' %}

{% load bootstrap5 %}

{% block content %}
    <div class="container">
        <section class="row min-vh-100 d-block pt-3 text-center d-sm-flex pt-sm-0 justify-content-sm-center align-items-sm-center text-sm-start">
            <div class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card rounded-3">
                    <div class="card-body px-xl-4">
                        <h4 class="text-grey font-public-sans fs-5 text-center">Recuperação de Senha</h4>
                        <p class="text-muted font-public-sans text__format">Para continuar com a recuperação de senha, insira o e-mail abaixo:</p>
                        <form method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button id="id_btn_reset_password" class="btn btn__custom__primary hover d-grid w-100 rounded-3 mt-2 mb-2" type="submit">Resetar</button>
                        </form>
                        <div class="text-center">
                            <span class="text-muted font-public-sans text__format">Novo na plataforma?</span>
                            <a href="{% url 'signup' %}" class="text-decoration-none text__custom__primary hover">
                                <span>Criar uma conta</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block css %}
    <style>
        .text__format{
            font-size: 0.9375rem; 
            text-align: justify;
        }
    </style>
{% endblock %}

{% block script %}
    <!-- BEGIN: INICIALIZAÇÂO -->
        <script>
            $(document).ready(function(){
                $(".form-control").attr("required", false);
                $("#id_btn_reset_password").attr("disabled", true);
            });
        </script>
    <!-- BEGIN: INICIALIZAÇÂO -->

    <!-- BEGIN: VALIDAÇÃO DE EMAIL -->
        <script>
            $("#id_email").change(function () {
                var form = $(this).closest("form");
                $.ajax({
                    url: "{% url 'validate_email_registered' %}",
                    data: form.serialize(),
                    dataType: 'json',
                    success: function (data) {
                        //CONFIRM IF EMAIL EXIST
                        if(!data.is_email_registered){
                            $("#id_btn_reset_password").attr("disabled", true);
                            toast('error', 'Falha na autenticação!', 'O e-mail inserido não está registrado no sistema!');
                        }
                        else{
                            $("#id_btn_reset_password").attr("disabled", false);
                        }
                    }
                });
            });
        </script>
    <!-- END: VALIDAÇÃO DE EMAIL -->
{% endblock %}