{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}
    <div class="vh-100 bg__secondary">
        <div class="container">
            <form>
                <input type="text" class="form-control m-0" id="search-todo" placeholder="Pesquisar...">
            </form>
        </div>

        <ul class="nav d-flex justify-content-between container w-100 mt-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" role="tab" aria-controls="home" aria-selected="true">
                    <span class="cursor-pointer">Tarefas criadas</span> <span id="total_length" class="badge bg-secondary">4</span>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="profile" aria-selected="false">
                    <span class="cursor-pointer">Tarefas concluídas</span> <span id="disabled_total_length" class="badge bg-secondary">1 de 4</span>
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane text-white fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div id="id_task_enabled" class="w-100 h-100 bg__secondary px-3 pb-3"></div>
            </div>
            <div class="tab-pane text-white fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div id="id_task_desabled" class="vw-100 h-100 bg__secondary px-3 pb-3"></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="modal_create_todo" tabindex="-1" aria-labelledby="modal_create_todo_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg__secondary rounded__custom">
                <div class="modal-body bg__secondary p-3 rounded__custom_3">
                    <form id="id_form" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}

                        <div class="d-flex justify-content-end gap-2">
                            <a id="btn-submit" class="btn btn-outline-secondary hover rounded-3 ft-bold" data-bs-dismiss="modal">
                                <span class="px-3">
                                    Cancelar
                                </span>
                            </a>
                            <button id="btn-submit" class="btn btn-primary hover rounded-3 ft-bold" type="submit">
                                <span class="px-3">
                                    Registrar
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <div class="position-fixed" style="bottom: 20px; right: 20px;" data-bs-toggle="tooltip" data-bs-placement="left" title="Registrar nova tarefa">
        <button class="position-relative btn btn__floating border__primary rounded rounded-3 hover" data-bs-toggle="modal" data-bs-target="#modal_create_todo">
            <span class="material-icons">
                add
            </span>
        </button>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $("[data-bs-toggle='tooltip']").tooltip();
            $(".tab").tab();

            let data = "{{ tasks | escapejs  }}";

            build_tasks("GET", data, "id_task_enabled");
        });

        $('#id_form').validate({
            rules: {
                title: { required: true, minlength: 2 },
                description: { required: true },
            },
            messages: {
                title: { required: 'Preencha o campo nome', minlength: 'No mínimo 2 letras' },
                description: { required: 'Informe o seu email' },
            },
            validClass: "is-valid",
            errorClass: "is-invalid",
            submitHandler: function( form ){
                $.ajax({
                    type: "POST",
                    url: "{% url 'create' %}",
                    data: $( form ).serialize(),
                    beforeSend: (  ) => {
                        hold_start("Aguarde um momento, estamos registrando sua nova task");
                    },
                    success: function( response ){
                        hold_close();

                        toast( "success", "Sucesso!", "Tarefa registrada com sucesso!" )
                        $("#id_form").trigger('reset');
                        build_tasks("POST", response, "id_task_enabled");
                    },
                    error: (  ) => {
                        hold_close();
                        toast( "danger", "Falha na autenticação!", "Não foi possível realizar o registro" );
                    }
                });
                return false;
            }
        });
    </script>
{% endblock %}
